footer {
    color: #c58989!important;
}

footer span {
    color: #c58989!important;
}

.beian {
    color: #c58989!important;
}

.beian span {
    color: #c58989!important;
}

.beian a {
    color: #c58989!important;
}